.menu {
	display: flex;
	flex-flow: column;
	align-items: flex-start;
	justify-content: center;
	text-align: center;
	margin: 10px;
	/*background-color: #111;*/
}

.lector {
	height: 100%;
	margin: 10px;
}


/*.menu * {
	margin: 0px 4px 0px 4px;
	display: flex;
	flex-flow: row;
	align-items: center;
	justify-content: space-around;
	text-align: center;
	background-color: chocolate;
}*/

select {
	border: none;
}

input {
	border: none;
}

.sidenav {
	display: block;
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	overflow-x: hidden;
/*	transition: 0.5s;*/
	padding-top: 60px;
}

.sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 18px;
	color: #818181;
	display: block;
	transition: 0.3s;
}

.sidenav>div {
	padding: 8px 8px 8px 32px;
	display: block;
	text-decoration: none;
	color: #818181;
/*	transition: 0.3s;*/
}

.sidenav>div * {
/*	margin: auto;*/
	display: inline-block;
}

.sidenav .sideElement>.sideElementText {
	font-size: 18px;
	color: #818181;
	transition: 0.3s;
}

.sidenav a:hover,
.offcanvas a:focus {
	color: #f1f1f1;
}

.sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}
